<template>
  <FatButton width='100%'>
    <slot></slot> <q-icon name="arrow_forward" />
  </FatButton>
</template>

<script>
import FatButton from '@/components/input/FatButton'

export default {
  emits: ['click'],
  components: {
    FatButton,
  }
}
</script>

<style scoped lang="scss">
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  position: absolute;
  right: 1rem;
}
</style>