<template>
  <div>
    <LineChart ref="chart" :chartData="chartData" :options="chartOptions" :plugins="chartPlugins" />
  </div>
</template>

<script>
import 'chartjs-adapter-moment'
import colorLib from '@kurkle/color'
import LineChart from './LineChart'

function color (name) {
  const style = getComputedStyle(document.body)
  return style.getPropertyValue(name)
}

function transparentize (value, opacity) {
  const alpha = opacity === undefined ? 0.5 : 1 - opacity
  return colorLib(value).alpha(alpha).rgbString()
}

const chartLook = {
  backgroundColor: transparentize(color('--color-purple')),
  borderColor: color('--color-purple'),
  borderWidth: 1,
  fill: true,
  pointStyle: 'circle',
}


const plugin = {
  id: 'customCanvasBackgroundColor',
  beforeDraw: (chart, args, options) => {
    const { ctx } = chart
    ctx.save()
    ctx.globalCompositeOperation = 'destination-over'
    ctx.fillStyle = options.color || '#99ffff'
    ctx.fillRect(0, 0, chart.width, chart.height)
    ctx.restore()
  }
}


export default {
  components: {
    LineChart
  },
  props: {
    resultsData: Object,
    searchSettings: Object,
    website: String,
    timelineType: String,
    subTitle: String
  },
  computed: {
    chartSubtitle () {
      return this.subTitle + this.searchSettings.searchTerm + ' [' + this.searchSettings.startDate + ' - ' + this.searchSettings.endDate + ']'
    },
    chartTitle () {
      return this.timelineType + this.website
    },
    chartPlugins () {
      return [plugin]
    },
    chartData () {
      return {
        datasets:
          this.resultsData.before !== undefined
            ? [
                {
                  ...chartLook,
                  pointRadius: this.searchSettings.interval === 'hour' ? 0 : 1.5,
                  pointHoverRadius: 10,
                  label: this.$t('data.beforeChangepoint', {
                    site: this.resultsData.label
                  }),
                  data: this.resultsData.before.map((d) => ({
                    x: d.date,
                    y: d.usage
                  }))
                },
                {
                  ...chartLook,
                  pointRadius: this.searchSettings.interval === 'hour' ? 0 : 1.5,
                  pointHoverRadius: 10,
                  backgroundColor: transparentize(color('--color-dark-blue')),
                  borderColor: color('--color-dark-blue'),
                  label: this.$t('data.afterChangepoint', {
                    site: this.resultsData.label
                  }),
                  data: this.resultsData.after.map((d) => ({
                    x: d.date,
                    y: d.usage
                  }))
                }
              ]
            : [
                {
                  ...chartLook,
                  pointRadius: this.searchSettings.interval === 'hour' ? 0 : 1.5,
                  pointHoverRadius: 10,
                  label: this.resultsData.label,
                  data: this.resultsData.data.map((d) => ({
                    x: d.date,
                    y: d.usage
                  }))
                }
              ]
      }
    },
    chartOptions () {
      // chart.js is bad and doesn't let us translate stuff in a reasonable way so we just have everything in the default english instead
      // we could maybe switch to one of the other adapters (that isn't moment.js) to get some localization options
      // https://www.chartjs.org/docs/latest/axes/cartesian/time.html

      return {
        responsive: true,
        maintainAspectRatio: false,
        tension: 0.4,
        onResize: this.setHeight,
        layout: {
          padding: 10
        },
        plugins: {
          legend: {
            display: false
          },
          subtitle: {
            display: true,
            color: color('--color-light-text'),
            text: this.chartSubtitle,
            align: 'start',
            padding: {
              top: 5,
              bottom: 25,
            },
            font: {
              size: 16,
              weight: 500,
              family: 'Lexend, sans-serif'
            }
          },
          title: {
            display: true,
            color: color('--color-dark-text'),
            text: this.chartTitle,
            align: 'start',
            padding: {
              top: 0,
              bottom: 0,
            },
            font: {
              size: 24,
              weight: 'bold',
              family: 'Lexend, sans-serif'
            }
          },
          customCanvasBackgroundColor: {
            color: color('--color-white')
          }
        },
        scales: {
          x: {
            ticks: {
              source: 'data',
              font: {
                family: 'Lexend, sans-serif'
              }
            },
            type: 'time',
            time: {
              displayFormats: {
                quarter: 'MM-YY',
                day: 'MM-DD-YY',
                hour: 'MM-DD-YY HH:mm',
                month: 'MM-YY',
                week: 'MM-DD-YY'
              },
              unit: this.getUnit()
            },
            grid: {
              color: color('--color-dividers')
            }
          },
          y: {
            ticks: {
              font: {
                family: 'Lexend, sans-serif'
              }
            },
            beginAtZero: true
          }
        },
        animation: {
          onComplete: (ctx) => {
            this.$refs.chart.base64Image = ctx.chart.toBase64Image()
          }
        }
      }
    }
  },
  methods: {
    getUnit () {
      return this.searchSettings.interval
    },
    downloadImage () {
      this.$refs.chart.downloadImage()
    },
    setHeight () {
      this.$refs.chart.$el.style.height = '400px'
    }
  },
}
</script>

<style scoped lang="scss"></style>
