<template>
  <SearchHelper page="hashtags" v-slot="slotProps">
    <HashtagsBody v-bind="slotProps" />
  </SearchHelper>
</template>

<script>
import SearchHelper from '@/components/SearchHelper'
import HashtagsBody from '@/components/bodies/HashtagsBody'

export default {
  components: {
    SearchHelper,
    HashtagsBody
  }
}
</script>

<style scoped lang="scss"></style>
