<template>
  <div>
    <form @submit.prevent="search('timeline')">
      <ButtonOpenToolModal />

        <InputSearchTerm />

        <FatSeeResultsButton>
          {{ $t("setting.button.timeline") }}
        </FatSeeResultsButton>

        <hr>

        <InputDates />

        <InputWebsites />

        <InputInterval />

        <InputChangepoint />
    </form>
  </div>
</template>

<script>
import ButtonOpenToolModal from '@/components/input/tool-picker/ButtonOpenToolModal'
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputWebsites from '@/components/input/InputWebsites'
import InputInterval from '@/components/input/InputInterval'
import InputChangepoint from '@/components/input/InputChangepoint'
import FatSeeResultsButton from '@/components/input/FatSeeResultsButton'
import { createNamespacedHelpers } from 'vuex'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    ButtonOpenToolModal,
    InputSearchTerm,
    InputDates,
    InputWebsites,
    InputInterval,
    InputChangepoint,
    FatSeeResultsButton,
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
}
</style>
