<template>
  <div>
    <form @submit.prevent="search('activity')">
      <ButtonOpenToolModal />

      <InputSearchTerm />

      <FatSeeResultsButton>
        {{ $t("setting.button.timeline") }}
      </FatSeeResultsButton>

      <hr>

      <InputDates />

      <InputWebsites />
    </form>
  </div>
</template>

<script>
import ButtonOpenToolModal from '@/components/input/tool-picker/ButtonOpenToolModal'
import { createNamespacedHelpers } from 'vuex'
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputWebsites from '@/components/input/InputWebsites'
import FatSeeResultsButton from '../input/FatSeeResultsButton'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    ButtonOpenToolModal,
    InputSearchTerm,
    InputDates,
    InputWebsites,
    FatSeeResultsButton
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
  font-family: var(--primary-font);
}
</style>
