<template>
  <div>
    <form @submit.prevent="search('hashtags')">
      <ButtonOpenToolModal />

      <InputSearchTerm />

      <FatSeeResultsButton>
        {{ $t("setting.button.timeline") }}
      </FatSeeResultsButton>
      <hr>

      <InputDates />

      <InputNumberOf :label="$t('setting.numberHashtags')" />

      <InputLimit />

    </form>
  </div>
</template>

<script>
import ButtonOpenToolModal from '@/components/input/tool-picker/ButtonOpenToolModal'
import { createNamespacedHelpers } from 'vuex'
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputNumberOf from '@/components/input/InputNumberOf'
import InputLimit from '@/components/input/InputLimit'
import FatSeeResultsButton from '../input/FatSeeResultsButton'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    ButtonOpenToolModal,
    InputSearchTerm,
    InputDates,
    InputNumberOf,
    InputLimit,
    FatSeeResultsButton
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
}
</style>
