<template>
  <div>
    <form @submit.prevent="search('links')">
      <ButtonOpenToolModal />

      <InputSearchTerm />

      <FatSeeResultsButton>
        {{ $t("setting.button.timeline") }}
      </FatSeeResultsButton>

      <hr>

      <InputDates />

      <InputWebsites />

      <InputUrlHost />

      <InputNumberOf :label="$t('setting.numberUrls')" />
    </form>
  </div>
</template>

<script>
import ButtonOpenToolModal from '@/components/input/tool-picker/ButtonOpenToolModal'
import { createNamespacedHelpers } from 'vuex'
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputWebsites from '@/components/input/InputWebsites'
import InputNumberOf from '@/components/input/InputNumberOf'
import InputUrlHost from '@/components/input/InputUrlHost'
import FatSeeResultsButton from '../input/FatSeeResultsButton'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    ButtonOpenToolModal,
    InputSearchTerm,
    InputDates,
    InputWebsites,
    InputNumberOf,
    InputUrlHost,
    FatSeeResultsButton
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
}
</style>
