/* start design framework */
@font-face {
  font-family: 'Lexend';
  src: url(~@/assets/fonts/Lexend-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 100;
  src: url(~@/assets/fonts/Lexend-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 200;
  src: url(~@/assets/fonts/Lexend-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 300;
  src: url(~@/assets/fonts/Lexend-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 400;
  src: url(~@/assets/fonts/Lexend-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 500;
  src: url(~@/assets/fonts/Lexend-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 600;
  src: url(~@/assets/fonts/Lexend-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 700;
  src: url(~@/assets/fonts/Lexend-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  font-weight: 800;
  src: url(~@/assets/fonts/Lexend-ExtraBold.ttf) format('truetype');
}

/* start design framework */
:root {
  --primary-font: 'Lexend';

  --color-primary: #1d1916;
  --color-secondary: #fb5607;
  --color-dark-bg: #3b1f52;
  --color-dividers: #eeeff0;
  --color-dark-dividers: #33090c;
  --color-light-bg: #f6f6f8;
  --color-blue: #dbdff5;
  --color-white: #ffffff;
  --color-off-white: #f8f5f3;
  --color-dark-text: #2a2d43;
  --color-light-text: #808a9f;
  --color-disabled: #808a9f;
  --color-black: #1d1916;
  --color-light-purple: #c399d7;
  --color-purple: #8a22a5;
  --color-dark-blue: #3734a3;
  --color-light-grey: #a09a95;

  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-section: calc(128px - 2rem);
  --spacing-max-content-width: 85rem;

  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 8px;

  --fs-1: 0.8571rem; // 12px
  --fs-2: 1rem; // 14px
  --fs-3: 1.1428rem; // 16px
  --fs-4: 1.2857rem; // 18px
  --fs-5: 1.7142rem; // 24px
}

.text-title-1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.text-title-2 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

.text-title-3 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

.text-title-4 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.text-body-1 {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}

.text-body-2 {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

/* end design framework */

/* start style reset */
html {
  font-size: 14px;
}

button {
  padding: 0;
}
/* end style reset */

/* start quasar colors */
/* https://quasar.dev/style/color-palette#Adding-Your-Own-Colors */
/* we can maybe remove the !importants if we move this to another file */
.text-black-highlight {
  color: var(--color-black) !important;
}

.bg-black-highlight {
  background: var(--color-black) !important;
}

.text-purple-highlight {
  color: var(--color-purple) !important;
}

.bg-purple-highlight {
  background: var(--color-purple) !important;
}

.text-blue-highlight {
  color: var(--color-blue) !important;
}

.bg-blue-highlight {
  background: var(--color-blue) !important;
}

.text-dark-blue-highlight {
  color: var(--color-dark-blue) !important;
}

.bg-dark-blue-highlight {
  background: var(--color-dark-blue) !important;
}

.text-faded-gray {
  color: var(--color-light-text) !important;
}

.bg-faded-gray {
  background: var(--color-light-text) !important;
}
/* end quasar colors */

/* start global styles */
.input-card {
  width: 100%;
  border: solid 1px var(--color-black);
  border-radius: var(--border-radius-1);
  display: flex;
  align-items: center;
  background: var(--color-white);
}
/* end global styles */

